{% extends "layout.html" %}
{% set bodyId = "page-ideas" %}

{% block title %}
    <title>Ideias - Casa Criativa</title>
{% endblock title %}

{% block content %}

        <header>
            <a href="/">
                <img src="/logo.png" alt="Imagem da Logomarca">
            </a>
            
            <nav>
                <li><a href="/">Início</a></li>
                <li><a class="button" href="#" onclick="onOFF()">Nova Ideia</a></li>
            </nav>
        </header>
            <section id="title">
                <p>em exibição</p>
                <h1>Ideias</h1>
            </section>
            
        <main>
            <section id="ideas">
                {%include "all_ideas.html"%}
        </section>
    </main>
    <footer>     
         Feito por<a href="https://www.google.com/search?q=figma&oq=figma&aqs=chrome..69i57j0l6j5.2570j0j7&sourceid=chrome&ie=UTF-8" target="_blank">fdjskalfjdsla</a>
    </footer>

{% endblock %}